* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
  word-wrap: break-word;
}

:root {
  --trans: all 0.35s ease-in-out;
}

body {
  zoom: 1.2;
  background: #fff;
}

@media (min-width: 2200px) {
  body {
    zoom: 1.45;
  }
}
@media (min-width: 2560px) {
  body {
    zoom: 1.6;
  }
}
@media (max-width: 1600px) {
  body {
    zoom: 1;
  }
}
.container {
  width: 100%;
  max-width: 1528px;
  margin: 0 auto;
  padding: 0 139px;
}

@media (max-width: 700px) {
  .container {
    padding: 0 45px;
  }
}
html {
  scroll-behavior: smooth;
}

header {
  background: #0e338b;
}

.active__color {
  color: #ffd874 !important;
}

.header__container {
  display: flex;
  align-items: center;
  height: 76px;
  padding: 12px 0px;
  justify-content: space-between;
  position: relative;
}

.h__left {
  width: 63px;
  height: 53px;
}
.h__left img {
  width: 100%;
  height: 100%;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 85px;
}

.header__link {
  color: #fff;
  font-family: "Freeman", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}
.header__link:hover {
  color: #ffd874;
}

.h__social_list {
  display: flex;
  align-items: center;
  gap: 45px;
  transform: translateY(3px);
}

.h__social_item a svg path {
  transition: var(--trans);
}

.twitter:hover svg path {
  fill: #ffd874;
}

.instagram:hover svg path {
  fill: #ffd874;
}

.facebook:hover svg path {
  fill: #ffd874;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__icon {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.burger__menu {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  transition: var(--trans);
  overflow: hidden;
}

.burger__menu.active {
  right: 0;
}

.burger__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger__menu li {
  margin: 10px 0;
}

.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: #051e5a;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: #051e5a;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px !important;
}
.burger__list li a {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1100px) {
  .h__center,
  .h__right {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
}
.burger__menu .h__social_list {
  position: absolute;
  bottom: 40px;
}

.hero__section {
  height: 660px;
  background-image: url(../img/hero__section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(10, 64, 192, 0) 0%, #051e5a 100%);
  z-index: 1;
}

.hero__container {
  padding-top: 115px;
  width: 100%;
  max-width: 960px;
  position: relative;
  z-index: 2;
}

.hero__uptitle {
  color: #ffd874;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.hero__title {
  color: #ffd874;
  font-family: "Freeman";
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__title span {
  color: #fff;
}

.hero__subtitle {
  margin-top: 20px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.services__section {
  background-color: #0e338b;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.services__section .container {
  padding-left: 190px;
  padding-right: 0px;
  width: 55%;
}

.serv__cont {
  width: 45%;
}

.section__serv_container {
  width: 100%;
  max-width: 430px;
  padding-top: 346px;
}
.section__serv_container a {
  margin-top: 32px;
  margin-right: 0px;
}

.serv__img {
  display: block;
  width: 100%;
}

.section__serv_title {
  color: #fff;
  font-family: "Freeman";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.section__serv_subtitle {
  color: #fff;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 430px;
}

.serv__card_list {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  top: -57px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.serv__card_item {
  padding: 21px 25px;
  background-color: #1947b4;
  width: 340px;
}
.serv__card_item:nth-child(2) {
  background-color: #ffd874;
}
.serv__card_item:nth-child(2) .serv__card_title {
  color: #1947b4;
}
.serv__card_item:nth-child(2) .serv__card_subtitle {
  color: #1947b4;
}

.serv__card_title {
  color: #fff;
  text-align: center;
  font-family: "Freeman";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.serv__card_subtitle {
  color: #fff;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 17px;
  margin-bottom: 17px;
}

.order__btn {
  color: #0e338b;
  text-align: center;
  font-family: "Freeman";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 180px;
  height: 53px;
  margin-right: auto;
  margin-left: auto;
  transition: var(--trans);
  position: relative;
}

@media (max-width: 1370px) {
  .services__section .container {
    padding-left: 100px;
  }
  .section__serv_container {
    padding-top: 240px;
  }
}
.our_works__section {
  width: 100%;
}

.container1 {
  width: 45%;
  padding-left: 139px;
  margin-top: 64px;
  position: relative;
  padding-right: 10px;
}
.container1 a {
  color: #fff;
  text-align: center;
  font-family: "Freeman";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e338b;
  width: 180px;
  height: 53px;
  transition: var(--trans);
  position: absolute;
  bottom: 42px;
}

.our_work__cont {
  display: flex;
}

.our_work__title {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.our_work__subtitle {
  color: #0e338b;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  max-width: 522px;
  line-height: normal;
  border-bottom: 2px solid #ffd874;
  padding-bottom: 150px;
}

@media (max-width: 1310px) {
  .our_work__subtitle {
    padding-bottom: 130px;
  }
}
@media (max-width: 1129px) {
  .our_work__subtitle {
    padding-bottom: 107px;
  }
}
.swiper__portf {
  width: 55%;
  margin: 0 !important;
  height: 393px;
}

.portf__slide img {
  display: block;
  width: 100%;
  height: 393px;
}

.portf__prev {
  color: #fff !important;
  height: 22px !important;
  width: 9px !important;
  left: 15px !important;
}
.portf__prev::after {
  font-size: 22px !important;
}

.portf__next {
  color: #fff !important;
  height: 22px !important;
  width: 9px !important;
  right: 15px !important;
}
.portf__next::after {
  font-size: 22px !important;
}

.total__section {
  padding-top: 95px;
}

.total__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ffd874;
  padding-bottom: 90px;
}

.total__item {
  text-align: center;
  width: 100%;
  max-width: 191px;
}

.total__number {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 5px;
}

.total__title {
  color: #0e338b;
  text-align: center;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.faq__question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 17px 19px 17px 30px;
  background: #fbfbfb;
  box-shadow: 0px 0.25px 1px 0px rgba(0, 0, 0, 0.2), 0px 0.25px 1px 0px rgba(0, 0, 0, 0.1);
  color: #0e338b;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toggle-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.faq__section {
  padding-top: 103px;
  padding-bottom: 285px;
}

.faq__cont {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.faq__left {
  width: 100%;
  max-width: 613px;
}

.faq__title {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 105px;
}

.faq__right {
  width: 100%;
}
.faq__right img {
  width: 100%;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media (max-width: 1377px) {
  .faq__title {
    margin-bottom: 80px;
  }
  .faq__list {
    gap: 22px;
  }
  .faq__question {
    font-size: 20px;
  }
}
.faq__answer {
  background: #fbfbfb;
  box-shadow: 0px 0.25px 1px 0px rgba(0, 0, 0, 0.2), 0px 0.25px 1px 0px rgba(0, 0, 0, 0.1);
  color: #0e338b;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px 30px;
}

.order__section {
  position: relative;
}

.container2 {
  max-width: 100%;
}

.order__section .container {
  background-image: url(../img/order_sect.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 130px;
  background-position: 36%;
}

.order__container {
  display: flex;
  justify-content: center;
  padding-top: 209px;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 830px;
}

.order__title {
  color: #ffd874;
  text-align: center;
  font-family: "Freeman";
  font-size: 82px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order__title span {
  color: #fff;
}

.order__subtitle {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.order__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;
}

.order__form-input {
  height: 36px;
  color: #0e338b;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 30px;
  outline: none;
  transition: var(--trans);
}
.order__form-input:focus {
  border: 2px solid #ffd874;
}
.order__form-input::placeholder {
  color: rgba(16, 59, 158, 0.9333333333);
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order__form-button {
  cursor: pointer;
  margin-top: 66px;
  border: none;
}

.order__list {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  top: -157px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.order__item {
  padding: 21px 25px;
  background-color: #1947b4;
  width: 340px;
}
.order__item:nth-child(2) {
  background-color: #ffd874;
}
.order__item:nth-child(2) .order__item_title {
  color: #1947b4;
}
.order__item:nth-child(2) .order__item_subtitle {
  color: #1947b4;
}

.order__item_title {
  color: #fff;
  font-family: "Freeman";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.order__item_subtitle {
  color: #fff;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.footer__top {
  display: flex;
  background: #0e338b;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  row-gap: 20px;
}

.f__center {
  display: flex;
  gap: 77px;
}

.f__center_left h3 {
  color: #fff;
  font-family: "Freeman";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7px;
}

.center__left-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.center__left_item a {
  color: #fff;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}
.center__left_item a:hover {
  color: #ffd874;
}

.f__center_right {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.f__center_right h3 {
  color: #fff;
  font-family: "Freeman";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.f__center_right a {
  color: #fff;
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}
.f__center_right a:hover {
  color: #ffd874;
}

.h__social_list {
  display: flex;
  align-items: center;
  gap: 45px;
  transform: translateY(3px);
}

.f__social_item a svg path {
  transition: var(--trans);
}

.twitter:hover svg path {
  fill: #ffd874;
}

.instagram:hover svg path {
  fill: #ffd874;
}

.facebook:hover svg path {
  fill: #ffd874;
}

.f__social_list {
  display: flex;
  gap: 36px;
  transform: translateY(10px);
}

.footer__botom {
  background: #062776;
}

.footer__private_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.footer__private_item a {
  color: #fff;
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}
.footer__private_item a:hover {
  color: #ffd874;
}

.serv__img1 {
  display: none;
}

.services__hero_section {
  background-image: url(../img/service__img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.services__hero_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8470588235) 100%);
  z-index: 1;
}

.about__hero_container {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 325px;
}

.about__hero_title {
  color: #1947b4;
  font-family: "Freeman";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
  margin-top: 8px;
}

.about__hero_subtitle {
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 430px;
}

.nav__serv {
  display: flex;
  align-items: center;
  gap: 14px;
}
.nav__serv a {
  color: #0e338b;
  text-align: center;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}
.nav__serv a:hover {
  color: #ffd874;
}

.services__card_section {
  padding-bottom: 200px;
}

.services__card_list {
  display: flex;
  flex-direction: column;
}

.services__card_item {
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  border-bottom: 2px solid #ffd874;
  justify-content: space-between;
}
.services__card_item svg {
  width: 111px;
  height: 183px;
  margin-right: 41px;
}

.services__card_info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.services__card_info a {
  color: #fff;
  text-align: center;
  font-family: "Freeman";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e338b;
  width: 180px;
  height: 53px;
  transition: var(--trans);
  position: relative;
  margin-left: 0;
}

.services__info_title {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.services__info_subtitle {
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 430px;
  margin-right: 117px;
}

.services__card_img {
  display: block;
}
.services__card_img img {
  width: 100%;
}

.about__hero_section {
  background-image: url(../img/about_us1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 57%;
}

.about__hero_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8470588235) 100%);
  z-index: 1;
}

.about__info_section {
  padding-top: 50px;
  padding-bottom: 70px;
}

.about__info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__info_container a {
  background: #0e338b;
  color: #fff;
  margin-left: 0;
}

.about__info_title {
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 523px;
  margin-bottom: 40px;
}

.whychoose__section {
  padding-top: 60px;
  padding-bottom: 275px;
}

.whychoose__title {
  color: #1947b4;
  font-family: "Freeman";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.whychoose__list {
  margin-top: 65px;
  padding-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ffd874;
}

.whychoose__item {
  display: flex;
  align-items: center;
  gap: 45px;
}

.whychoose__info {
  color: #0e338b;
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  max-width: 230px;
}

.about__img {
  position: relative;
}

.about__img_title {
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: -3px;
  right: -45%;
  width: 100%;
  max-width: 250px;
}

.blog__section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.blog__title {
  color: #1947b4;
  font-family: "Freeman";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 10px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 80px;
}

.blog__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  gap: 12px;
}

.blog__img {
  display: block;
  width: 100%;
  max-width: 340px;
}
.blog__img img {
  width: 100%;
}

.blog__info_title {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.blog__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__info a {
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
}
.blog__info a:hover {
  color: #ffd874;
}

.blog__date {
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog__pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 20px;
  align-items: center;
}
.blog__pagination span {
  color: #0e338b;
  font-family: "Freeman";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.blog__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__pagination .active {
  font-weight: bold;
}

.blog__pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
}

.blog__cart_info {
  padding-top: 40px;
  padding-bottom: 120px;
}

.blog__card_info a {
  background: #0e338b;
  color: #fff;
  margin-right: 0;
}

.blog__card_img {
  width: 100%;
  height: 460px;
  margin-bottom: 25px;
}
.blog__card_img img {
  width: 100%;
}

.blog__card_text {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.text__left {
  width: 100%;
  max-width: 522px;
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text__right {
  width: 100%;
  max-width: 522px;
  color: #0e338b;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1273px) {
  .f__right {
    padding-left: 20px;
  }
}
@media (max-width: 1150px) {
  .about__info_container {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .serv__card_item {
    width: 300px;
  }
  .order__item {
    width: 300px;
  }
  .f__right {
    padding-left: 0px;
  }
  .total__list {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .total__item {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .whychoose__title {
    font-size: 60px;
  }
  .whychoose__info {
    font-size: 20px;
  }
}
@media (max-width: 1050px) {
  .hero__uptitle {
    font-size: 24px;
  }
  .hero__title {
    font-size: 60px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .services__section {
    flex-direction: column-reverse;
  }
  .serv__card_list {
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .section__serv_container {
    padding-top: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .serv__cont {
    margin-top: 60px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .section__serv_container a {
    display: none;
  }
  .serv__img {
    display: none;
  }
  .serv__img1 {
    display: block;
    width: 100%;
  }
  .our_work__cont {
    flex-direction: column;
    justify-content: center;
  }
  .services__section .container {
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 139px;
  }
  .container1 {
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }
  .container1 a {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 0px;
    margin-bottom: 60px;
  }
  .our_work__subtitle {
    padding-bottom: 33px;
    border: none;
  }
  .swiper__portf {
    width: 100%;
  }
  .faq__right {
    display: none;
  }
  .faq__cont {
    flex-direction: column;
  }
  .faq__left {
    max-width: 100%;
  }
  .faq__title {
    margin-bottom: 50px;
  }
  .faq__section {
    padding-bottom: 60px;
  }
  .order__list {
    position: relative;
    flex-direction: column;
    top: 45px;
  }
  .order__section {
    display: flex;
    flex-direction: column-reverse;
  }
  .order__section .container {
    padding-bottom: 120px;
  }
  .f__center {
    gap: 50px;
    flex-direction: column;
    text-align: start;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .footer__private_list {
    flex-direction: column;
    align-items: start;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 8px;
  }
  .footer__private_item a {
    font-size: 12px;
  }
  .services__card_item {
    flex-direction: column;
    align-items: start;
  }
  .services__card_info {
    margin-bottom: 40px;
  }
  .services__card_img {
    width: 100%;
  }
  .services__card_section {
    padding-bottom: 0px;
  }
  .whychoose__section {
    padding-bottom: 20px;
  }
  .about__img_title {
    max-width: 200px;
    right: -34%;
  }
}
@media (max-width: 950px) {
  .whychoose__list {
    flex-direction: column;
    justify-content: center;
    gap: 72px;
  }
  .whychoose__title {
    font-size: 42px;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .about__img_title {
    right: -52%;
    top: -6px;
  }
  .about__info_container {
    align-items: start;
  }
  .about__img {
    max-width: 350px;
    margin-bottom: 20px;
  }
  .about__img img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hero__section {
    padding-bottom: 300px;
    height: auto;
  }
  .about__img_title {
    font-size: 16px;
    max-width: 130px;
    right: -32%;
  }
}
@media (max-width: 515px) {
  .about__img {
    max-width: 250px;
  }
  .about__img_title {
    right: -46%;
  }
}
@media (max-width: 500px) {
  .hero__container {
    padding-top: 53px;
  }
  .hero__uptitle {
    font-size: 18px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .serv__card_title {
    font-size: 24px;
  }
  .serv__card_subtitle {
    margin-bottom: 20px;
  }
  .section__serv_title {
    font-size: 24px;
  }
  .services__section .container {
    padding: 0px 45px;
  }
  .serv__cont {
    width: 100%;
  }
  .our_work__title {
    font-size: 24px;
  }
  .total__section {
    padding-top: 40px;
  }
  .total__list {
    padding-bottom: 50px;
  }
  .total__number {
    font-size: 32px;
  }
  .total__title {
    font-size: 18px;
  }
  .faq__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .faq__question {
    font-size: 20px;
  }
  .order__item_title {
    font-size: 24px;
  }
  .order__item_subtitle {
    font-size: 18px;
  }
  .order__title {
    font-size: 40px;
    text-align: center;
  }
  .order__form-button {
    margin-top: 25px;
  }
  .f__left {
    width: 120px;
  }
  .f__left img {
    width: 100%;
  }
  .f__center_left h3 {
    font-size: 24px;
  }
  .f__center_right h3 {
    font-size: 24px;
  }
  .f__right {
    width: 100%;
  }
  .f__social_item svg {
    width: 50px;
    height: 50px;
  }
  .f__social_list {
    justify-content: space-between;
  }
  .h__social_list {
    width: 75%;
    justify-content: space-between;
  }
  .h__social_item svg {
    width: 50px;
    height: 50px;
  }
  .center__left-list {
    grid-template-columns: 1fr;
  }
  .about__hero_title {
    font-size: 40px;
  }
  .services__hero_section {
    background-image: url(../img/service__img2.jpg);
  }
  .services__card_item {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .services__info_title {
    margin-top: 30px;
    font-size: 24px;
  }
  .services__card_img img {
    height: 250px;
  }
  .container1 {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (max-width: 420px) {
  .about__img {
    max-width: 220px;
  }
  .about__img_title {
    right: -54%;
  }
}
@media (max-width: 400px) {
  .about__img {
    max-width: 200px;
  }
  .about__img_title {
    right: -51%;
    font-size: 14px;
    max-width: 114px;
  }
}
@media (max-width: 350px) {
  .about__img {
    max-width: 160px;
  }
  .about__img_title {
    right: -66%;
  }
}/*# sourceMappingURL=style.css.map */